<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>When Will It Air? - Add More Shows</title>  
    <link rel="stylesheet" href="http://localhost/wwia/files/style/addshows.css" type="text/css" /> 
</head> 
 
<body>
    <h1>Add More Shows</h1>
    <form action="http://localhost/wwia/add.py/save" method="post">
    <div class="showselectbody"> 
    {% for letter in tvshowsdata %} 
    <div class="showclear"></div>
    <div class="boldletter">{{ letter.char }}</div> 
    {% for show in letter.contents %}
    <div id="check{{ show.id }}" class="checkedletter">
        <label class="{{ 'checked' if show.checked else 'unchecked' }}">
        <input class="checkbox" type="checkbox" name="selected_shows[]" value="{{ show.id }}" {{ 'checked="checked"' if show.checked }} />
        {{ show.name }}
        </label> 
    </div> 
    {% endfor %}
    {% endfor %} 
    <div class="showclear"></div>
    </div> 
    
    <div> 
        <input type="submit" name="filter" value="Save Filter" class="searchbutton" /><br />
    </div> 
    </form> 
    <script language="Javascript" type="text/javascript" src="http://localhost/wwia/files/js/jquery-1.4.1.js"></script> 
    <script language="Javascript" type="text/javascript" src="http://localhost/wwia/files/js/addshows.js"></script> 
</body> 
</html>