<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="files/style/main.css"></link>
    <title>When Will It Air?</title>
</head>
<body>
    {% for show in tvshows %}
    <div class="container">
        <h1>{{ show.name }}</h1>
        <h2>{{ show.network }}</h2>
        
        {% if show.upcomingEps %}
            {% for ep in show.upcomingEps %}
                {% if ep.on_tv is defined %}
                    <h3>On TV Right Now</h3>
                {% else %}
                    <h3>Upcoming</h3>
                {% endif %}
                <ul class="episode"> 
                    <li><span class="epname">{{ ep.name }} |</span> Season {{ ep.season }} Episode {{ ep.episode_no }}</li>
                    <li><span class="date">{{ ep.date }}</span></li>
                </ul>
                <div id = "tvshow{{ show.id }}" class="countdown"> 
                    <div class="dash weeks_dash"> 
                        <span class="dash_title">weeks</span> 
                        <div class="digit">0</div> 
                        <div class="digit">0</div> 
                    </div>
                    <div class="dash days_dash"> 
                        <span class="dash_title">days</span> 
                        <div class="digit">0</div> 
                        <div class="digit">0</div> 
                    </div>
                    <div class="dash hours_dash"> 
                        <span class="dash_title">hours</span> 
                        <div class="digit">0</div> 
                        <div class="digit">0</div> 
                    </div>
                    <div class="dash minutes_dash"> 
                        <span class="dash_title">minutes</span> 
                        <div class="digit">0</div> 
                        <div class="digit">0</div> 
                    </div> 
                    <div class="dash seconds_dash"> 
                        <span class="dash_title">seconds</span> 
                        <div class="digit">0</div> 
                        <div class="digit">0</div> 
                    </div> 
                    <div style="clear: both;"></div>
                </div>
            {% endfor %}
        {% else %}
            <h3>Upcoming</h3>
            <ul class="episode"> 
                <li>No Upcoming Episodes Data Available</li>
            </ul>
        {% endif %}
        
        <h3>Previous Episodes</h3>
        {% if show.previousEps %}
            {% for ep in show.previousEps %}
                <ul class="episode"> 
                    <li><span class="epname">{{ ep.name }} |</span> Season {{ ep.season }} Episode {{ ep.episode_no }}</li>
                    <li><span class="date">{{ ep.date }}</span></li>
                </ul>
            {% endfor %}
        {% else %}
            <ul class="episode"> 
                <li>No Previous Episodes Data Available</li>
            </ul>
        {% endif %}
    </div>
    {% endfor %}

    <script>
        var data = {
            {% for item in countdown %}
            {{ item.name }} : {
                day : {{ item.day }},
                hour : {{ item.hour }},
                min : {{ item.min }},
                sec : {{ item.sec }}
            },
            {% endfor %}
        };
    </script>
    <script language="Javascript" type="text/javascript" src="files/js/jquery-1.4.1.js"></script> 
	<script language="Javascript" type="text/javascript" src="files/js/jquery.lwtCountdown-1.0.js"></script> 
    <script language="Javascript" type="text/javascript" src="files/js/custom.js"></script> 
</body> 
</html> 